configuration {
  theme:         "config";
  window-format: "{t}";
  show-icons:    true;
}

window {
  height:   312;
  width:    380px;
  location: center;
  anchor:   center;
}

mainbox {
  children: [message, listview];
  padding: 40px 20px;
}

element-icon {
  size: 32; /* Must be a power of 2 */
}

element-text {
  vertical-align: 0.5;
}
